<html>
  <head>
    <meta charset="utf-8">
    <title><?= isset($feed->title) ? $feed->title : '' ?></title>
  </head>
  <body>
    <h1><?= isset($feed->title) ? $feed->title : '' ?></h1>
    <h2><?= isset($feed->subtitle_detail->value) ? $feed->subtitle_detail->value : '' ?></h2>
    <ol>
      <?php if (!empty($entries)): ?>
        <?php foreach ($entries as $entry): ?>
          <li>
            <h3><?= isset($entry->title) ? $entry->title : '' ?> <small><?= isset($entry->published) ? $entry->published : '' ?></small></h3>
            <p><strong><?= isset($entry->title_detail->value) ? $entry->title_detail->value : '' ?></strong></p>
            <p><?= isset($entry->summary_detail->value) ? $entry->summary_detail->value : '' ?></p>
          </li>
        <?php endforeach; ?>
      <?php endif; ?>
    </ol>
  </body>
</html>
